<div ng-controller="ProfessorController">

	<div style="display: flex; flex-direction: row; width:100%">
	
		<div style="flex: 50; margin-right: 5px">
			<h2>PROFESSOR</h2>

			<label>Nome: </label><input type="text" ng-model="professor.name"/><br>
			<label>Idade: </label><input type="number" ng-model="professor.age" class="input-sm spacing"/> <br>
			<label>Sala: </label><input type="text" ng-model="professor.classRoom" class="input-sm spacing"/> <br>
			<label>Especialidade: </label><input type="text" ng-model="professor.speciality" class="input-sm spacing"/> <br>
			<br><br>
			<button ng-click="save()" class="btn btn-sm btn-info">Save</button><br>
			
			<div style="margin-top:5px">
				<truers-grid items="profs" cols="cols" on-update="update" on-delete="delete"></truers-grid>
			</div>
		</div>
		
		<div style="flex: 50">
			<h2> {{works.professor.name}} TRABALHA EM:</h2>
		
			<h4>Adicionar novo:</h4>
			
			<label>Departamento: </label>
			<select ng-model="works.department"
				ng-options="department as (department.dep_number + ' - ' + department.name) for department in departments track by department.dep_number"></select>
			
			<label>Percentagem de tempo:</label>
			<input type="number" ng-model="works.timePercentage" class="input-sm spacing"/> <br>	
			<br><br>
			<button ng-click="saveWorks()" class="btn btn-sm btn-info">Save</button><br>
			
			<div style="margin-top:5px">
				<truers-grid items="workss" cols="worksCols" on-delete="deleteWorks"></truers-grid>
			</div>	
		</div>
			
	</div>
	
</div>