<div ng-controller="DepartmentController">
	
	<label>Numero: </label><input type="number" ng-model="department.dep_number"/><br>
	<label>Nome: </label><input type="text" ng-model="department.name" class="input-sm spacing"/> <br>
	<label>Escritorio Principal: </label><input type="text" ng-model="department.centralOffice"/><br>
	<label>Professor Lider: </label>
	<select ng-model="department.profLeader"
		ng-options="professor as professor.name for professor in professors track by professor.reg_number"></select>
	<br><br>
	<button ng-click="save()" class="btn btn-sm btn-info">Save</button><br>
	
	<div style="margin-top:5px">
		<truers-grid items="departments" cols="cols" on-update="update" on-delete="delete"></truers-grid>
	</div>
	
</div>