<div ng-controller="StudentController">
	
	<label>Name: </label><input type="text" ng-model="student.name"/><br>
	<label>Your age: </label><input type="number" ng-model="student.age" class="input-sm spacing"/> <br>
	<label>Course: </label>
	<select ng-model="student.course">
		<option ng-repeat="course in courses" >{{course}}</option>
	</select>
	<br><br>
	<button ng-click="save()" class="btn btn-sm btn-info">Save</button><br>
	
	<div style="margin-top:5px">
		<truers-grid items="students" cols="cols" on-update="update" on-delete="delete"></truers-grid>
	</div>
	
</div>