@charset "ISO-8859-1";

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.container{
	display: flex;
	width: 50%;
}
.fixed{
    width: 200px;
}
.flex-item{
    flex-grow: 1;
}

.round-borders {
    border-radius: 25px;
    border: 2px solid #A9A9A9;
    padding: 20px;
}

.text-al{
    text-align: center;
}

.margins-divs {
    margin-right: 5px;
}
