<div ng-controller="ProjectController">

	<div style="display: flex; flex-direction: row; width:100%">
	
		<div style="flex: 50; margin-right: 5px">
			<label>Numero: </label><input type="number" ng-model="project.projectNumber"/><br>
			<label>Financiador: </label><input type="text" ng-model="project.financier" class="input-sm spacing"/> <br>
			<label>Orcamento: </label><input type="number" step="0.01" min="0" ng-model="project.budget" class="input-sm spacing"/> <br>
			<label>Data Inicial: </label><input type="date" dateformat="dd/MM/yyyy" ng-model="project.startDate" class="input-sm spacing"/> <br>
			<label>Data Final: </label><input type="date" ng-model="project.endDate" class="input-sm spacing"/> <br>
			<label>Professor Gerente: </label>
			<select ng-model="project.profLeader"
				ng-options="professor as professor.name for professor in professors track by professor.reg_number"></select>
			<br><br>
			<button ng-click="save()" class="btn btn-sm btn-info">Save</button><br>
			
			<div style="margin-top:5px">
				<truers-grid items="projects" cols="cols" on-update="update" on-delete="delete"></truers-grid>
			</div>
		</div>
		
		<div style="flex: 50; margin-right: 5px">
		
			<h2> PROFESSORES PARTICIPANTES DO PROJETO {{participates.project.projectNumber}}:</h2>
		
			<h4>Adicionar novo:</h4>
			
			<label>Professor: </label>
			<select ng-model="participates.professor"
				ng-options="professor as (professor.reg_number + ' - ' + professor.name) for professor in professors track by professor.reg_number"></select>
			<br><br>
			
			<button ng-click="saveParticipates()" class="btn btn-sm btn-info">Save</button><br>
			
			<div style="margin-top:5px">
				<truers-grid items="participatess" cols="participatesCols" on-delete="deleteParticipates"></truers-grid>
			</div>	
		
		</div>
	
	</div>
	
</div>