<div style="display:flex; margin:30px; margin-top:5px" layout="column">
	
	<div layout="row" style="margin-bottom: 15px">
		<h2>Atencao</h2>
	</div>
	
	<div layout="row" layout-align="center center" style="margin-bottom: 30px">
		<h4>Tem certeza que deseja excluir esse registro?</h4>
	</div>
	
	<div layout="row" layout-align="space-around center">
		<button ng-click="delete()" class="btn btn-danger">Confirmar</button>
		<button ng-click="cancel()" class="btn btn-success">Cancelar</button>
	</div>
</div>