<html >
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
<script src="app.js"></script>

<head>
	<title>Main Page</title>
	<style>
	table {
	  font-family: arial, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}
	
	td, th {
	  border: 1px solid #dddddd;
	  text-align: left;
	  padding: 8px;
	}
	
	tr:nth-child(even) {
	  background-color: #dddddd;
	}
	</style>
</head>

<body ng-app="myApp" ng-controller="AppController" ng-init="init()">

	<br><br>
	<div>	
		<form name="myForm">
		    <label for="mySelect">User type: </label>
		    <select name="mySelect" id="mySelect"
		      ng-options="option.name for option in userType.availableOptions track by option.id"
		      ng-model="user.selectedOption"></select>
  		</form>	
		
  		<!--  fields for the student -->
		<div ng-show="user.selectedOption.id == 1">
			<label>Name: </label><input type="text" ng-model="user.name"/><br>
			<label>Your age: </label><input type="number" ng-model="user.age" class="input-sm spacing"/> <br>
			<form>
				<label for="courseSelect">Course: </label>
				<select name="courseSelect" id="courseSelect"
					ng-options="c.courseName for c in coursesList.availableCourses" 
					ng-model="user.course"></select>
			</form><br><br>
			<button ng-click="saveUserAsStudent(user)" class="btn btn-sm btn-info">Save</button><br>
  		</div>
  		<!--  fields for the professor / id=2 -->
  		<div ng-show="user.selectedOption.id == 2">
  			<label>Name: </label><input type="text" ng-model="user.name"/><br>
			<label>Your age: </label><input type="number" ng-model="user.age" class="input-sm spacing"/> <br>
			<label>Class: </label><input type="number" ng-model="user.classNumber" class="input-sm spacing"/> <br>
			<label>Speciality: </label><input type="text" ng-model="user.speciality" class="input-sm spacing"/> <br><br>
			<button ng-click="saveUserAsProfessor(user)" class="btn btn-sm btn-info">Save</button><br>
  		</div>
	</div>
	</div>

<br>
	<table id="users">
		<tr>
    <th>Name</th>
    <th>CPF</th>
    <th>ID</th>
    
 	 </tr>
	  <tr ng-repeat="u in users">
	    <td>{{ u.name }}</td>
	    <td>{{ u.cpf }}</td>
	    <td>{{ u.id }}</td>	
	  </tr>
	</table>
	<br>	
	<br>
	
	<div>
		<label>Search by ID:</label><input type="text" ng-model="user.id"/>
		<button ng-click="searchById(user)" class="btn btn-sm btn-info">Search</button><br></br>
		<h2>
		<table id="userFound">
		<tr>
		    <th>Name</th>
		    <th>CPF</th>		    		   
 	 	</tr>
		<td> {{ userFound.name }} </td>
		<td> {{ userFound.cpf }} </td>
		</table>
	</div>
	
	<br><br>
	<div>
		<label>Remove User: </label><input type="text" ng-model="user.delId"/>
		<button ng-click="deleteUser(user)" class="btn btn-sm btn-info">Remove</button><br>
	</div>
	<br>
	<div>
		<button ng-click="list(user)">List</button>	
		<!-- <span ng-repeat="skill in skills" class="list"<{{skill.skillName}}</span>-->
	</div>		
</body>

</html>